/* Error Message */
#errorMessage {
  margin-top: 15%;
}

#errorMessage h1 {
  font-size: 2.2em;
}

#errorMessage h5 {
  font-size: 1em;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #navbar {
    align-items: center;
  }
}
