body {
  background-color: #282828;
}

#logo {
  min-width: 11em;
  width: 18%;
}

#search-bar {
  padding: max(1em, 4%);
  background-color: #dfdfdf;
  font-size: 1.3em;
  height: 10%;
  width:100%;
  position:inherit;
  display:-webkit-inline-box;
}

#search-bar::placeholder {
  color: #4d4e50;
}

@media screen and (max-width: 768px) {
  #search-bar {
    font-size: 100%;
  }
  .easy-autocomplete.eac-round ul .eac-category{
    font-size: 14px;
}
}
