body {
  background-color: #282828;
}

.topcorner {
  position: absolute;
  top: 15px;
  right: 15px;
}

#logo {
  min-width: 11em;
  width: 18%;
}

#search-bar {
  padding: max(1em, 4%);
  background-color: #dfdfdf;
  font-size: 1.3em;
  height: 10%;
}

#search-bar::placeholder {
  color: #4d4e50;
}

@media screen and (max-width: 768px) {
  #search-bar {
    font-size: 100%;
  }
}
