body {
  background-color: #282828;
  margin: 0 1em;
  font-family: Inter, sans-serif;
}

hr {
  width: 100%;
  color: #777777;
  margin: 0.5em 0 1em;
}

h2 {
  color: #026cbe;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

/* Navbar */
#navbar {
  margin: 1em 0 2em;
}

#search {
  width: 22em;
  display: flex;
  align-items: center;
}

#search-bar {
  border: 1px solid black;
  border-radius: 2em;
  height: 2.5em;
  width: 100%;
  padding: 1em;
  background-color: #dfdfdf;
  font-size: 1em;
}

#search-bar::placeholder {
  color: #4d4e50;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 100%;
}

/* Module */
#module {
  color: #026cbe;
}

#module h1 {
  font-size: 2em;
  font-weight: 700;
}

#module h1 span {
  font-weight: 600;
}

#module h5 {
  padding-top: 0;
  color: #777777;
  font-size: 1em;
  font-weight: 600;
}

/* Description */

#description p {
  width: 80%;
  color: #c9c9c9;
  font-size: 1em;
  line-height: 1.5em;
}

/* Sentiment */
.rating {
  margin-bottom: 1.2em;
}

.rating h3 {
  color: #c9c9c9;
  font-size: 1.4em;
  font-weight: 600;
  width: 20%;
}

.rating img {
  width: 4.5em;
  margin: 0 0.5em;
}

.rating-cap-gray {
  filter: grayscale(100);
}

/* Forum */
.userImage {
  width: 5em;
}

#details h3 {
  color: #026cbe;
  font-size: 1.1em;
  font-weight: 700;
}

#commentBody {
  color: #c9c9c9;
  font-size: 0.99em;
  line-height: 1.5em;
  margin-top: 0.5em;
}

#noCommentMessage {
  color: #c9c9c9;
}

/* Footer */
#footer {
  background-color: #252525;
}

.link {
  text-decoration: none;
  font-weight: 500;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  #navbar {
    align-items: center;
  }

  section {
    text-align: center;
  }

  #description p {
    width: 100%;
  }

  .userImage {
    margin-bottom: 1em;
  }
}
