body {
  background-color: #282828;
  margin: 0 1em;
  font-family: Inter, sans-serif;
}

hr {
  width: 80%;
  color: #777777;
  margin: 0.5em 0 1em;
}

h2 {
  color: #026cbe;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

/* Navbar */
#navbar {
  margin: 1em 0 2em;
}

#search {
  width: 17.5em;
  display: flex;
  align-items: center;
}

#search-bar {
  border: 1px solid black;
  border-radius: 2em;
  height: 2.5em;
  width: 100%;
  padding: 1em;
  background-color: #dfdfdf;
  font-size: 1em;
}

#search-bar::placeholder {
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

/* Module */
#module {
  color: #026cbe;
}

#module h1 {
  font-size: 2em;
  font-weight: 600;
}

#module h5 {
  padding-top: 0;
  color: #777777;
  font-size: 1em;
  font-weight: 600;
}

/* Description */

#description p {
  width: 75%;
  color: #c9c9c9;
  font-size: 1em;
  line-height: 1.5em;
}

/* Sentiment */
.rating {
  margin-bottom: 1.2em;
}

.rating h3 {
  color: #c9c9c9;
  font-size: 1.4em;
  font-weight: 600;
  width: 20%;
}

.rating img {
  width: 4.5em;
  margin: 0 0.5em;
}

.rating-cap-gray {
  filter: grayscale(100);
}

/* Forum */
.card {
  width: 80%;
}
