<footer class="footer mt-5 pt-4 pb-2 border-secondary" id="footer">
  <div class="row mx-3">
    <div class="col-12 mb-3">
      <a
        class="me-3 link"
        href="https://github.com/wuchuank/orbital-noCapreviews/"
        >Github</a
      >
      <a
        class="me-3 link"
        href="https://drive.google.com/file/d/1eRSpIrut9k2zO5Qi_SOOSmpxnUNwbphj/view?usp=sharing"
        >Readme</a
      >
      <a
        class="me-3 link"
        href="https://drive.google.com/file/d/1gtevsTK9PQUTQDk8VpmYi4HTFQcBtYT8/view?usp=sharing"
        >Poster</a
      >
      <a class="me-3 link" href="https://youtu.be/pt3wiCrQwLo">Video</a>
    </div>
    <div class="col-12">
      <p class="text-white-50">
        This project is developed as part of a independent work course
        <a class="link" href="https://orbital.comp.nus.edu.sg/">Orbital</a>
        by the School of Computing at the National University of Singapore
      </p>
    </div>
    <div class="col-12 mb-3">
      <small class="text-white-50">
        Pictures and Gifs are taken from
        <a class="link" href="https://twitchemotes.com/">twitchemotes.com</a>
        and
        <a class="link" href="https://betterttv.com/">betterttv.com</a>
      </small>
    </div>
  </div>
</footer>
