<div class="navbar">
    <div class="logo">
      <img src="/images/logo.jpg" alt="noCapReviews Logo" id="logo">
    </div>
    <div class="search">
      <form id="search" action="/cs1010s" method="get">
        <input id="search-bar" type="search" placeholder="Search for modules" type="text">
      </form>
    </div>
  </div>