<header
  class="d-flex justify-content-between flex-column flex-md-row"
  id="navbar"
>
  <div id="logo">
    <a href="/">
      <img src="/images/logo.jpg" alt="noCapReviews Logo" id="logo" />
    </a>
  </div>
  <form id="search" action="/modules/search" method="get">
    <input
      class="form-control"
      id="search-bar"
      name="q"
      type="search"
      placeholder="Search for modules"
    />
  </form>
</header>
