<header
  class="d-flex justify-content-between flex-column flex-md-row"
  id="navbar"
>
  <div id="logo">
    <form action="/" method="POST">
      <input
        type="image"
        src="/images/logo.jpg"
        alt="noCapReviews Logo"
        id="logo"
      />
    </form>
  </div>
  <form id="search" action="/searchModules" method="get">
    <input
      class="form-control"
      id="search-bar"
      name="q"
      type="search"
      placeholder="Search for modules"
    />
  </form>
</header>
