<div class="Sentiment">
    <h2>Overall Sentiments</h2>
    <hr>
    <div class="Sentiment2">
      <div class="titles">
        <h2>Difficulty</h2>
        <h2>Workload</h2>
        <h2>Teaching Staff</h2>
        <h2>Overall Experience</h2>
      </div>
      <div class="ratings">
        <div class="rating">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-empty.png" alt="cap-filled">
        </div>
        <div class="rating">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-empty.png" alt="cap-filled">
        </div>
        <div class="rating">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-empty.png" alt="cap-filled">
        </div>
        <div class="rating">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-filled.png" alt="cap-filled">
          <img src="/images/cap-empty.png" alt="cap-filled">
          <img src="/images/cap-empty.png" alt="cap-filled">
        </div>
      </div>
    </div>
  </div>