<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta charset="utf-8" />
    <title>noCapReviews</title>
</head>
<body>
  <div class="container">
    <img class="logo" src="/images/logo.jpg" alt="noCapReviews Logo">
    <div class="search">
      <form action="/searchModules" method="GET">
        <input class="search-bar" name="q" type="search" id="modules" placeholder="Search modules. Try 'CS1010S'">
      </form>
      <ul id="autocomplete-results"></ul>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
</body>
</html>